body {
    background-image: url('assets/BG.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Arial', sans-serif;
    color: #fff;
  }
  
  h2 {
    color: #333;
  }
  
  .card {
    background-color: #fff;
    border-radius: 10px;
  }
  
  .btn-primary {
    background-color: #9b4dff;
    border: none;
    transition: background-color 0.3s ease;
  }
  
  .btn-primary:hover {
    background-color: #7e3bff;
  }
  
  .invalid-feedback {
    color: red;
  }


