body {
    background-image: linear-gradient(rgba(219, 212, 212, 0.5), rgba(218, 213, 213, 0.5)), url('../assets/bgedt.png'); 
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat; 
    background-attachment: fixed; 
    font-family: Arial, sans-serif; 
    color: #333; 
}


.container {
    max-width: 800px;
}

h2 {
    font-weight: 700;
    color: #333333;
}

.form-container {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-label {
    font-weight: bold;
    color: #555;
}

.btn-primary {
    background-color: #0d6efd;
    border: none;
}

.btn-primary:hover {
    background-color: #0b5ed7;
}

input,
textarea,
select {
    border: 1px solid #ced4da;
    border-radius: 4px;
}
.navbar {
    width: 100%;
    background-color: black; 
  }

  .navbar .nav-link {
    color: white !important; 
  }

  .navbar .navbar-brand {
    color: white !important;
  }

  .navbar .dropdown-menu {
    right: 0;
  }

  
  .navbar .fa-shopping-cart {
    color: white; 
    font-size: 1.5rem; 
  }

  .navbar .form-control {
    background-color: #fff; 
  }
  
   .d-flex.align-items-center img {
    margin-left: 15px; 
  }

 
  .navbar .fa-shopping-cart {
    margin-left: 15px; 
    margin-top: 6px; 
  }