/* Estilo general del cuerpo */
body {
    background-image: url('../assets/bgedt.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    font-family: Arial, sans-serif;
    color: #333;
}

/* Contenedor principal */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* Título principal */
h2 {
    font-weight: bold;
    color: #333;
    text-align: center;
}

/* Barra de búsqueda y filtros */
form#searchForm {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

form#searchForm .form-label {
    font-weight: bold;
    color: #555;
}

form#searchForm input,
form#searchForm select {
    border: 1px solid #ced4da;
    border-radius: 4px;
    padding: 10px;
}

form#searchForm input:focus,
form#searchForm select:focus {
    outline: none;
    border-color: #0d6efd;
    box-shadow: 0 0 4px rgba(13, 110, 253, 0.5);
}

/* Botón de búsqueda */
form#searchForm button {
    background-color: #0d6efd;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

form#searchForm button:hover {
    background-color: #0b5ed7;
}

/* Resultados de búsqueda */
#searchResults {
    list-style-type: none;
    padding: 0;
}

#searchResults .list-group-item {
    background-color: #fff;
    border: 1px solid #dee2e6;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#searchResults .list-group-item:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Paginación */
.pagination {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.pagination button {
    background-color: #6c757d;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

.pagination button:hover {
    background-color: #5a6268;
}

.pagination #pageInfo {
    font-weight: bold;
    color: #333;
}
.navbar {
    width: 100%;
    background-color: black; 
  }

  .navbar .nav-link {
    color: white !important; 
  }

  .navbar .navbar-brand {
    color: white !important;
  }

  .navbar .dropdown-menu {
    right: 0;
  }

  
  .navbar .fa-shopping-cart {
    color: white; 
    font-size: 1.5rem; 
  }

  .navbar .form-control {
    background-color: #fff; 
  }
  
   .d-flex.align-items-center img {
    margin-left: 15px; 
  }

 
  .navbar .fa-shopping-cart {
    margin-left: 15px; 
    margin-top: 6px; 
  }