body {
    background-image: url('assets/fondo.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    font-family: Arial, sans-serif;
    color: #333;
}

.card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: none;
    border-radius: 8px;
}

.card-title {
    font-weight: bold;
}

.card-body {
    display: flex;
    flex-direction: column;
}

footer {
    color: white;
    font-size: 0.9rem;
}

footer ul {
    padding: 0;
    list-style: none;
}

footer ul li {
    margin-bottom: 10px;
}

footer ul li a {
    text-decoration: none;
    color: #ffffff;
}

footer ul li a:hover {
    color: #e91e63;
}

.btn-success {
    background-color: #e91e63;
    border: none;
}

.btn-success:hover {
    background-color: #c2185b;
}

.btn-danger {
    background-color: #dc3545;
    border: none;
}

.btn-danger:hover {
    background-color: #b02a37;
}
.navbar {
    width: 100%;
    background-color: black; 
  }

  .navbar .nav-link {
    color: white !important; 
  }

  .navbar .navbar-brand {
    color: white !important;
  }

  .navbar .dropdown-menu {
    right: 0;
  }

  
  .navbar .fa-shopping-cart {
    color: white; 
    font-size: 1.5rem; 
  }

  .navbar .form-control {
    background-color: #fff; 
  }
  
   .d-flex.align-items-center img {
    margin-left: 15px; 
  }

 
  .navbar .fa-shopping-cart {
    margin-left: 15px; 
    margin-top: 6px; 
  }