body {
    background-image: url('../assets/bgedt.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    font-family: Arial, sans-serif;
    color: #333;
}

.container {
    background: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
    font-weight: 700;
    color: #333;
}

button {
    font-size: 16px;
}

.list-group-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    margin-bottom: 10px;
    border: 1px solid #ced4da;
    border-radius: 4px;
}

.list-group-item:hover {
    background-color: #f8f9fa;
}

.actions {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.actions button {
    padding: 10px 20px;
    background-color: #0d6efd;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.actions button:hover {
    background-color: #0b5ed7;
}
.navbar {
    width: 100%;
    background-color: black; 
  }

  .navbar .nav-link {
    color: white !important; 
  }

  .navbar .navbar-brand {
    color: white !important;
  }

  .navbar .dropdown-menu {
    right: 0;
  }

  
  .navbar .fa-shopping-cart {
    color: white; 
    font-size: 1.5rem; 
  }

  .navbar .form-control {
    background-color: #fff; 
  }
  
   .d-flex.align-items-center img {
    margin-left: 15px; 
  }

 
  .navbar .fa-shopping-cart {
    margin-left: 15px; 
    margin-top: 6px; 
  }